.services,
.products {
  background: #f0f0f0;
  .row {
    display: flex;
    justify-content: space-between;
  }
  .service {
    overflow: hidden;
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    min-width: calc(33.33% - 60px / 3);
    max-width: calc(33.33% - 60px / 3);

    .title {
      padding: 20px;
      border-bottom: 1px solid #ddd;
    }
    .description {
      padding: 20px;
      border-bottom: 1px solid #ddd;
    }
    .cost {
      padding: 20px;
      border-bottom: 1px solid #ddd;
    }
    .btn {
      width: 100%;
      height: 60px;
      line-height: 60px;
      background: #fff;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.03em;
      &:hover {
        background: #c10230;
        color: #fff;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.22);
        cursor: pointer;
      }
    }
    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      .title {
        color: #c10230;
      }
    }
  }
}
