@import "@/assets/styles/global.scss";

.users {
	background: $ligthGrey;
	padding: 100px;
	@include flex(center, flex-start, nowrap, row);
	min-height: 100vh;
	// width: 100%;
	// height: 100vh;
	// flex-direction: column;
	// background: $black url("~@images/maze.svg") center center repeat;
	// background-size: cover;
	// margin-top: 0px;

	.container {
		@include flex(flex-start, flex-start, nowrap, column);
		@include contain(calc(100% * 0.618 + 40px), 980px);
		padding: 40px 20px;
		box-sizing: border-box;
	}
	.title {
		padding-left: 10px;
		width: 100%;
		h2 {
			color: $sky;
			font-size: 50px;
		}
		h3 {
			color: $black;
			font-size: 25px;
			margin-bottom: 40px;
		}
	}
	.row {
		@include flex(flex-start, stretch, nowrap, row);
		width: 100%;
		&-users {
			@include flex(flex-start, stretch, nowrap, row);
			width: 100%;
		}
		&-items {
			@include flex(flex-start, flex-start, nowrap, column);
			padding: 20px;
			flex-basis: calc(25% - (60px / 4));
		}
		&-user {
			@include flex(center, center, nowrap, column);
			flex-basis: calc(25% - (60px / 4));
			background: $white;
			margin: 10px;
			padding: 20px;
			box-shadow: $shadow1;
			transition: $transition;
			font-size: 16px;
			&:hover {
				cursor: pointer;
				box-shadow: $shadow5;
			}
			input {
				border: 0px;
				border-bottom: 1px $blue solid;
				width: 100%;
				font-size: 16px;
				margin-bottom: 10px;
				padding: 5px;
			}
			button {
				width: 100%;
				padding: 10px;
				border: none;
				background: $blue;
				color: $white;
				margin-top: 15px;
				font-size: 14px;
				text-shadow: none;
				text-transform: uppercase;
				transition: $transition;
				&:hover {
					background: $sky;
				}
			}
		}
	}
	.avatar {
		width: 100px;
		height: 100px;
		background: $sky;
		border-radius: 50px;
		margin-bottom: 20px;
	}

	.pname {
		font-size: 18px;
		font-weight: 700;
	}

	p {
		color: #fff;
		opacity: 0.8;
		font-weight: 300;
		font-size: 20px;
		line-height: 1.5;
		width: 100%;
	}
}
