<div class="users">
	<div class="container">
		<div class="title">
			<h2>Инструкции для пользвотеля</h2>

			<h3>
				Если чего-то нехватает - просто добавьте новую инструкцию, и уже через 5
				минут она будет обработана
			</h3>
		</div>
		<div class="row">
			<div>
				<div class="row-users">
					{{data}}
				</div>
			</div>
		</div>
		<div class="">
			<form class="" v-on:submit.prevent="uploadDoc">
				<input type="file" @change="changeDoc($event)" id="file-input" />
				<button type="submit">загрузить документ</button>
			</form>
		</div>
	</div>
</div>
