<div class="">
	<Slider/>
	<User/>
	<section class="container">
		<article class="point-icon">
			<img src="" alt="" class="point-icon__image">
			<p class="point-icon__description">
				Описание
			</p>
		</article>
		<article class="point-icon">
			<img src="" alt="" class="point-icon__image">
			<p class="point-icon__description">
				Описание
			</p>
		</article>
		<article class="point-icon">
			<img src="" alt="" class="point-icon__image">
			<p class="point-icon__description">
				Описание
			</p>
		</article>
		<article class="point-icon">
			<img src="" alt="" class="point-icon__image">
			<p class="point-icon__description">
				Описание
			</p>
		</article>

	</section>
</div>
